<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>

<span th:if="${loggedInSuccessfully == 'false'}">Login failure<br/>
    <a href="/login">Try again!</a>
</span>
<span th:if="${loggedInSuccessfully == 'true'}">Login successful!<br/>
    <a href="/login">You are now authenticated!</a>
</span>

</body>
</html>